In [3]:
import pandas as pd

# Dataframe object in pandas

aka a table

In [4]:
# Sample Dataframe

# sample_df = pd.DataFrame({'Bird': ['Eagle', 'Hummingbird'], 'Fish': ['Goldfish', 'Tuna']})
# sample_df

          Bird      Fish
0        Eagle  Goldfish
1  Hummingbird      Tuna

In [12]:
# Setting values for Dataframe indices

# sample_df = pd.DataFrame({'Bird': ['Eagle', 'Hummingbird'],
#                           'Fish': ['Goldfish', 'Tuna']},
#                          index=['Type 1', 'Type 2'])

# sample_df

               Bird      Fish
Type 1        Eagle  Goldfish
Type 2  Hummingbird      Tuna

# Series object in pandas

aka a list, or one column in a Dataframe

In [14]:
# Sample Series

# Instead of keys defining the column names like in a Dataframe, we have a 'name' parameter that assigns the overall name
# sample_series = pd.Series(['Eagle', 'Hummingbird', 'Goldfish', 'Tuna'], index=['Animal 1', 'Animal 2', 'Animal 3', 'Animal 4'], name='Animals')
# sample_series

Animal 1          Eagle
Animal 2    Hummingbird
Animal 3       Goldfish
Animal 4           Tuna
Name: Animals, dtype: object

# Reading data files

In [5]:
# Reading csv

melbourne_housing_data = pd.read_csv('../INTRO-TO-MACHINE-LEARNING/melb_data.csv')

In [16]:
# Getting Dataframe shape (size)

# melbourne_housing_data.shape

(13580, 21)

In [17]:
# Get first 5 rows

# melbourne_housing_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Accessing values

In [20]:
# Using dot operator
# melbourne_housing_data.Address[0]

# Using bracket notation
# melbourne_housing_data['Address'][0]

'85 Turner St'

## Indexing in pandas

iloc (index-based selection) - selection based on numerical position
loc (label-based selection) - selection based on label name

* both are row first, column second (whereas Python is columnn first, row second)
* iloc uses Python stdlib indexing scheme (0:100), while loc indexes inclusively (1:100)

In [27]:
# Accessing rows with loc and iloc
# melbourne_housing_data.iloc[0]
# melbourne_housing_data.loc[0]

Suburb                      Abbotsford
Address                   85 Turner St
Rooms                                2
Type                                 h
Price                        1480000.0
Method                               S
SellerG                         Biggin
Date                         3/12/2016
Distance                           2.5
Postcode                        3067.0
Bedroom2                           2.0
Bathroom                           1.0
Car                                1.0
Landsize                         202.0
BuildingArea                       NaN
YearBuilt                          NaN
CouncilArea                      Yarra
Lattitude                     -37.7996
Longtitude                    144.9984
Regionname       Northern Metropolitan
Propertycount                   4019.0
Name: 0, dtype: object

In [30]:
# Accessing columsn with loc and iloc
# melbourne_housing_data.iloc[:, 0]
# melbourne_housing_data.loc[:, 'Suburb']

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [48]:
# Change label of the index
# melbourne_housing_data.set_index("Address", inplace=False)
melbourne_housing_data.loc['85 Turner St']

## Conditional selection

In [58]:
# Getting rows where 'Rooms' == 2

# melbourne_housing_data.loc[melbourne_housing_data.Rooms==2]

### Selecting based on isin and isnull/notnull

isin - set multiple values as the condition
isnull/notnull - get values that are null / not null

In [60]:
# Get houses with either 2 or 3 rooms
# melbourne_housing_data.loc[melbourne_housing_data.Rooms.isin([2, 3])]

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Address,,,,,,,,,,,,,,,,,,,,
85 Turner St,Abbotsford,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
25 Bloomburg St,Abbotsford,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
5 Charles St,Abbotsford,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
40 Federation La,Abbotsford,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
129 Charles St,Abbotsford,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,2.0,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34 Fewster Dr,Wantirna South,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,3.0,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
76 Kenmare St,Watsonia,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,2.0,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
9 Black St,Westmeadows,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,3.0,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
77 Merrett Dr,Williamstown,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
83 Power St,Williamstown,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0

In [74]:
# Get values which are not null
# melbourne_housing_data_columns = [x for x in melbourne_housing_data.iloc[:]]
# rows_null, col_null = zip(*[(idx, col) for idx, row in melbourne_housing_data.iterrows()
#                             for col, value in row.items() if melbourne_housing_data.empty])

# print(rows_null, col_null)

# Summary functions

In [81]:
# Using describe() to summarize 'Price' column
# melbourne_housing_data.Price.describe()

# Getting mean of 'Price' column
# melbourne_housing_data.Price.mean()

# Getting total number of data in a Series
# melbourne_housing_data.Price.map(lambda x: x > 10).sum()

# Getting unique values in 'Price' column
# melbourne_housing_data.Price.unique()

# Getting unique values and count in 'Price' column
# melbourne_housing_data.Price.value_counts()

# Get index of max/min values of Series
# melboure_housing_data.Price.idxmax()
# melboure_housing_data.Price.idxmin()

# Mapping values using map() and apply() and built in pandas functionalities

In [83]:
# Using map() to transform every element in an array (function in map must be done on a single value (i.e. mean))

# melbourne_housing_data_mean_price = melbourne_housing_data.Price.mean()
# melbourne_housing_data.Price.map(lambda x: x - melbourne_housing_data_mean_price)

In [86]:
# Using apply() to transform a whole table

# melbourne_housing_data_mean_price = melbourne_housing_data.Price.mean()
# def normalize_price_by_mean(row):
#     row.Price = row.Price - melbourne_housing_data_mean_price
#     return row

# melbourne_housing_data.apply(normalize_price_by_mean, axis='columns')

In [88]:
# Using pandas built up functionalities to normalize 'Price'

# melbourne_housing_data_mean_price = melbourne_housing_data.Price.mean()
# melbourne_housing_data.Price - melbourne_housing_data_mean_price

# Grouping

In [49]:
# Using groupby() to group DataFrame and get the min of each group

# melbourne_housing_data.groupby('Rooms').Price.min()

Rooms
1       85000.0
2      190000.0
3      283000.0
4      131000.0
5      355000.0
6      506000.0
7     1005000.0
8      741000.0
10     900000.0
Name: Price, dtype: float64

In [12]:
# Accessing the DataFrame once it is grouped

# Getting the name of the first address of each group
# melbourne_housing_data.groupby('Rooms').apply(lambda address: melbourne_housing_data.Address.loc[0])

In [18]:
# Grouping the data into 2 groups
# melbourne_housing_data.groupby(['Rooms', 'Type']).Price.max()

In [21]:
# Running multiple summary functions on DataFrame with agg()

# melbourne_housing_data.groupby('Rooms').Price.agg([min, max])

Performing a groupby() call will sometimes generate a multi-index DataFrame

In [27]:
# Reseting the index of a multi-index DataFrame with reset_index()

# melbourne_housing_data_grouped_rooms = melbourne_housing_data.groupby(['Rooms', 'Type'])
# print(melbourne_housing_data_grouped_rooms)
# print(melbourne_housing_data.reset_index())

# Sorting

In [40]:
# Using sort_values() to sort data
# max_melbourne_housing_data_grouped_rooms = melbourne_housing_data.groupby('Rooms').Price.max()
# max_melbourne_housing_data_grouped_rooms.sort_values(ascending=False)

In [44]:
# Sorting with 2 values

# melbourne_housing_data_grouped_rooms_type = melbourne_housing_data.groupby(['Rooms', 'Type']).Price.agg([max])
# melbourne_housing_data_grouped_rooms_type.sort_values(by=['max', 'Type'])

In [48]:
# Sorting by index value

# melbourne_housing_data.Price.sort_index(ascending=False)

# Data Types

In [13]:
# Get dtype of column

# melbourne_housing_data.Price.dtype

dtype('float64')

In [15]:
# Get dtype of DataFrame

# melbourne_housing_data.dtypes

In [16]:
# Change dtype with astype()

# melbourne_housing_data.Rooms.astype('float64')

In [18]:
# Getting the dtype of an index

# melbourne_housing_data.index.dtype

# Missing data

In [20]:
# Getting null values from a specific column

# melbourne_housing_data[pd.isnull(melbourne_housing_data.Rooms)]

In [21]:
# Replacing null values with a different value

# melbourne_housing_data.Rooms.fillna('Unknown')

In [22]:
# Replacing any value with a different value

# melbourne_housing_data.Rooms.replace('a', 'b')

# Renaming

In [23]:
# Renaming a column

# melbourne_housing_data.rename(columns={'Rooms': 'Room'})

In [25]:
# Renaming a row in the index (easier to just use set_index())

# melbourne_housing_data.rename(index={0: 'firstEntry', 1: 'secondEntry'})

In [26]:
# Renaming the axes

# melbourne_housing_data.rename_axis("row_name", axis='rows').rename_axis("column_name", axis='columns')

# Combining

concat() combines data separated into 2 DataFrames (having the same columns)
join() combines DataFrames that have a common index
 - lsuffix, rsuffix adds text to the end of each respective column, if the 2 columns are same and need to be differentiated